@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  color: #37474f;
  background-color: #dee4e7;
}

.section-first {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 0 0;
}

.header__logo {
  font-size: 30px;
  font-weight: 500;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  width: 120px;
  text-align: center;
  color: #dee4e7;
  background-color: #20b2aa;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__logo a {
  color: #dee4e7;
}

.header__logo:hover {
  background-color: #dee4e7;
  color: #20b2aa;
  border-color: #dee4e7;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  color: #37474f;
  margin: 0px 25px 0px 0px;
  font-size: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__link:hover {
  border-top: 2px solid #37474f;
  border-bottom: 2px solid #37474f;
}

.content {
  padding: 150px 0 0 0;
}

.content__title {
  font-size: 50px;
  text-transform: uppercase;
}

.content__text {
  font-size: 25px;
  margin-top: 40px;
}

.content__button {
  margin: 60px 0 50px 0;
}

.item-content__button {
  display: inline-block;
  width: 170px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  color: #dee4e7;
  border: 1px solid;
  border-radius: 15px;
  background-color: #20b2aa;
}

.section-second {
  background-color: #455a64;
  height: 100%;
  color: #dee4e7;
}

.about {
  padding: 30px;
}

.about__creators {
  font-size: 40px;
  text-align: center;
  margin: 0 0 40px 0;
}

.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
}
