@import "nullstyles.scss";

body {
	font-family: "Roboto", sans-serif;
	color: #37474f;
	background-color: #dee4e7;
}

.section-first {
	height: 100%;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.header {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0 0 0;
	}

	// .header__logo

	&__logo {
		font-size: 30px;
		font-weight: 500;
		border: 1px solid;
		border-radius: 20px;
		padding: 10px;
		width: 120px;
		text-align: center;
		color: #dee4e7;
		background-color: #20b2aa;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	&__logo a {
		color: #dee4e7;
	}

	&__logo:hover {
		background-color: #dee4e7;
		color: #20b2aa;
		border-color: #dee4e7;
	}

	&__list {
		display: flex;
	}

	&__link {
		color: #37474f;
		margin: 0px 25px 0px 0px;
		font-size: 20px;
		transition: all 0.2s ease;
	}

	&__link:hover {
		border-top: 2px solid #37474f;
		border-bottom: 2px solid #37474f;
	}
}
.content {
	padding: 150px 0 0 0;

	&__title {
		font-size: 50px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 25px;
		margin-top: 40px;
	}

	&__button {
		margin: 60px 0 50px 0;
	}
}

.item-content {
	&__button {
		display: inline-block;
		width: 170px;
		font-size: 30px;
		padding: 10px;
		text-align: center;
		color: #dee4e7;
		border: 1px solid;
		border-radius: 15px;
		background-color: #20b2aa;
	}
}

.section-second {
	background-color: #455a64;
	height: 100%;
	color: #dee4e7;
}

.about {
	padding: 30px;

	&__creators {
		font-size: 40px;
		text-align: center;
		margin: 0 0 40px 0;
	}

	&__block {
		display: flex;
		justify-content: space-around;
		font-size: 30px;
	}

	&__koshkar {
	}

	&__kazanbas {
	}
}
